/* Custom Steez */

body{
	font-family: proxima-nova, sans-serif;
	margin-bottom: 0;
}

a {
	color:#2222c9;
}

h1,h2 {
	font-family: masqualero, sans-serif;
}
.navbar {
	margin-bottom: 1em;
}


.navbar ul{
margin: 0;

}

.navbar li {
	list-style: none;
	display: inline-block;
}

.navbar a {
	padding:0.3em 1em;
}


.navbar .navbar-brand {
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}

.navbar .navbar-brand a{
	color: aqua;
	margin-top: 0.2em;
}


.page_item a {
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: #e6e6e6;
	font-weight: 800;
}

.site-description {
	margin-top: 0.5em;
	color: white;
}

.widget-area ul{
	margin: 0;
	padding: 0;
}

.widget-area li {
	list-style: none;
}

.widget-area a {
	color:#414141;

}

.wp-block-gallery{
	margin-left: 0;
}

.site-footer{
	margin-top: 4em;
	padding: 4em;
	background: #dbdbdb;
}

